body { 
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
 
}

.digital-clock {
    font-size: 0;
}

.digital-clock > div {
    display: inline-block;
    margin: 0 15px;
}
.digital-clock > div > span {
    display: inline-block;
    width: 70px;
    margin: 0 2px;
}
.digital-clock > div > span, 
.digital-clock > div::after {
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    color: #eeeeee;
    text-shadow:
        3px 3px 10px rgba(0,0,0,.2),
        -3px -3px 10px rgba(255,255,255,1);;
}

.digital-clock > div.hour::after,
.digital-clock > div.minute::after {
    content: ':';
    position: absolute;
    /* left: 100%; */
    width: 30px;
}

.digital-clock > div > span.show {
    animation: show .5s ease-in forwards;
}

.digital-clock > div > span.hide {
    animation: hide .5s ease-out forwards;
}

@keyframes show {
    0% {
        text-shadow: 
            0 0 0 rgba(0,0,0,.2),
            0 0 0 rgba(255,255,255,1)
            ;
    }
    100% {
        text-shadow: 
        3px 3px 10px rgba(0,0,0,.2),
        -3px -3px 10px rgba(255,255,255,1)
        ;
    }
}
@keyframes hide {
    0% {
        text-shadow: 
            3px 3px 10px rgba(0,0,0,.2),
            -3px -3px 10px rgba(255,255,255,1)
        ;

    }
    100% {
        text-shadow: 
            0 0 0 rgba(0,0,0,.2),
            0 0 0 rgba(255,255,255,1)
        ;
    }
}